	<style type="text/css">
	#top_left{ 
			width: 70%;
			float: left;
		}
		#top_right{
			margin-top: 15px;
			font-size: 13px;
			float: right;
		}
		#top_right img{
			margin-bottom:-3px;
		}
		#top_right a{
			text-decoration: none;
			color: #06f;
		}
		#top_right a:hover{
			text-decoration: none;
			color: #909;
		}
		.clear{
			clear:both;
		}
		#menu{
			background-color:#1C3F09;
			border-top:5px solid #82B211;
			padding: 10px 0px;
			text-align: center;
		}
		#menu a{
			margin: 0px,8px;
			color:#fff;
			text-decoration: none;
			font-weight: bold;
			font-size: 15px;
		}
		#menu a:hover{
			color: #999;
		}
		#menu  .all{
			color: yellow;
		}
		#search input[type="image"] {
			margin-right: 250px;
			margin-bottom: -6px;
		}
		#search input[type="text"] {
			height:  16px;
			border: 1px solid #999;
		}
		#search{
			background-color: #B6B684;
			padding: 7px 0px;
			text-align: right;
		}
		#content{
			width: 900px;
			margin: 5px auto 15px;
		}
		#content_top{
			font-size: 13px;
			text-align: right;
		}
		#content_bottom{
			border: 1px solid #999;
			background-color: #FCFDEF;
			padding: 10px 15px;
			height: 2400px;
		}
		#content_bottom h1{
			font-size: 15px;
			display: inline;
		}
		#content_bottom span{
			font-size: 13px;
		}
		#productlist_img img{
			width: 100%;
		}
		.bookimg img{
			width: 120px;
			height: 160px;
		}
		.book{
		float: left;
		width: 25%;
		text-align: center;
		padding:10px 0px;
	}
		#jumpPage{
		text-align: center;
		margin: 10px;
	}
	#jumpPage a{
		padding:2px 6px;
		border: 1px solid #9AAFE5;
		text-decoration: none;
		color:#9AAFE5;
	}
	#jumpPage a:hover{
		color:#2B66A5;
		border: 1px solid #2B66A5;
	}
	.current{
		background-color: blue;
	}
		#bottom{
			background-color: #EFEEDC;
			padding: 10px 0px;
			height: 60px;
		}
		#bottom_left{
				width: 400px;
				float: left;
				margin-left: 200px;
		}
		#bottom_right{
				width: 500px;
				float: left;
				line-height: 28px;
		}
	</style>

<p id="notice"><%= notice %></p>
<h1>值乎图书商城</h1>
<div id="page">
	<div id="top">
		<div id="top_right">
			<img src="assets/cart.gif">
			<a href="#">购物车</a>
			<a href="#">我的账户</a>
			<a href="#">新用户注册</a>
		</div>
	</div>
<div class="clear"></div>
  <div id="search">
    <%= form_tag search_books_path , method: :get do %>
<!--      <input type="text"   class = ""-->
<!--        placeholder="请输入书籍关键词"  name="title" />-->
<!--      <button type="submit"  style="height: 60px; color: #B00100">搜索</button>-->

      <input type="text" class="form-control" placeholder="请输入书籍关键字" name="title"/>
        <button class="btn btn-info btn-search">查找</button>
    <% end %>
  </div>
<div id="content">
		<div id="content_bottom">
		    	<h1>商品目录</h1>
			<hr/>
			<hr/>
			 <div id="productlist">
				<div id="productlist_img">
					<img src="assets/productlist.gif">
				</div>
<div id="booklist">
    <% @books.each do |book| %>
    	<div class="book">
						  <div class="bookimg">
						  <img src=<%= book.picLocation %>>
						  <!--<img><%= image_tag book.picLocation%></>-->
						  </div>
						  <div class="bookIntr">
							<span><%=book.title%></span><br/>
							<span><%=book.price%></span><br/>
							<span><%= link_to 'Show', book %></span>
					      </div>
					   </div>
    <% end %></div></div></div></div></div>
	<div id="bottom"> 
	<%= link_to 'New Book', new_book_path %>
    <%= will_paginate @books %> 
		<div id="bottom_right">
			<span>CONTACT US</span> <br/>
			<span>copyright 2020 &copy; BookStore All Rights RESERVED</span>
		</div>
	</div>