<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Publish:</strong>
  <%= @book.publish %>
</p>

<p>
  <strong>Time:</strong>
  <%= @book.time %>
</p>

<!--<p>-->
<!--  <strong>Path:</strong>-->
  <%#= @book.path %>
<!--</p>-->

<p>
  <strong>Piclocation:</strong>
  <%#=   @book.picLocation %>
  <%= image_tag @book.picLocation %>
</p>




<!--<%#= link_to 'Edit', edit_book_path(@book) %> |-->
<%#= link_to 'Back', books_path %>

<%#= link_to '加入购物车',  create_shopping_carts_path(@book, user_id = '1'), method: :post%>
<%#= link_to '加入购物车', action: create, controller: 'shopping_carts' %>

<%= link_to '加入购物车', {controller: 'shopping_carts', action: 'create', book_id:@book.id, user_id:1}, method: :post  %>



<table class="table table-hover">
  <tr>

    <td>
      <%= image_tag @recommend_book1.picLocation %>
      <%=  @recommend_book1.title %>
      <%= link_to 'Show', @recommend_book1 %>
    </td>



    <td>
      <%= image_tag @recommend_book2.picLocation %>
      <%=  @recommend_book2.title %>
      <%= link_to 'Show', @recommend_book2 %>
    </td>
  </tr>

  <tr>
    <td>
      <%= image_tag @recommend_book3.picLocation %>
      <%=  @recommend_book3.title %>
      <%= link_to 'Show', @recommend_book3 %>
    </td>

    <td>
      <%= image_tag @recommend_book4.picLocation %>
      <%=  @recommend_book4.title %>
      <%= link_to 'Show', @recommend_book4 %>
    </td>
  </tr>


</table>


