<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @shopping_cart.user_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @shopping_cart.product_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @shopping_cart.amount %>
</p>

<p>
  <strong>BookName</strong>
  <%= @book.title %>
</p>
<%= image_tag @book.picLocation %>

<%= link_to '修改图书数量', edit_shopping_cart_path(@shopping_cart) %> |
<%= link_to '返回购物车', shopping_carts_path(user_id:@shopping_cart.user_id) %>
